
-
    var header = '#recent clients'
    var clientList = [
        "/asset/image/client/carrefour.jpg",
        "/asset/image/client/fedex.jpg",
        "/asset/image/client/google.jpg",
    ];

#client
.client
    .client__header=header
    .client__list
        each client in clientList
            .client__image