.award__header {
    color: $color-periwinkle-gray;
    @extend %header;
}

.award__title {
    font-weight: bold;
}

.award__card {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-bottom: 0.1rem solid $color-fiord;
    display: flex;
    flex-wrap: wrap;
    &>div {
        border-top: 0.1rem solid $color-fiord;
    }

    .award__icon {
        width: 25%;
        font-size: 2.5rem;
        padding: 2.5rem;
        color: $color-white;
        display: flex;
        justify-content: center;
    }

    &>div:nth-child(even) {
        width: 75%;
        padding: 0 1rem;
        display: flex;
        align-items: center;
    }

    &>div:nth-child(1) {
        background-color: $color-pelorous;
    }

    &>div:nth-child(3) {
        background-color: $color-charm;
    }

    &>div:nth-child(5) {
        background-color: $color-affair;
    }

    &>div:nth-child(4) {
        font-style: italic;
    }

    &>div:nth-child(7) {
        background-color: $color-confetti;
    }
}




