$color-periwinkle-gray: #b2c7e2;
$color-white: #fff;
$color-gumbo: #7ea1a6;
$color-terracotta: #e97568;
$color-geraldine: #fb9e91;
$color-fiord: #415a67;
$color-pelorous: #42bcbd;
$color-charm: #d76d93;
$color-affair: #7e4b83;
$color-confetti: #eacb5f;
$color-fantasy: #f9f0ee;
$color-twilight: #e3ceda;
$color-manatee: #8a8fa2;
$color-blue-ribbon: #333FFF;
$color-yellow-sea: #FFAB01;
$color-cyan-aqua: #33DFFF;
$color-downriver: #08224C;
$color-royal-blue: #4583E5;
$color-sunglow: #FFBF3D;


