//- the model, the data
-
    var header= '#what I can do';
    var whatCanIDoList = [
        {
            title: 'FRONT-END',
            skillList: [
                'HTML5',
                'CSS3',
                'JavaScript',
                'jQuery',
                'React',
                'JSON',
                'UI',
                'UX',
                'SPA',
                'SEO',
                'SMACSS/OOCSS',
                'SASS',
                'Bootstrap',
                'NodeJS',
                'JADE',
                'Pug',
                'Gulp',
                'PhotoShop',
                'Illustrator',
                'Lightroom'
            ]
        },
        {
            title: 'BACK-END',
            skillList: [
                'Git',
                'CLI',
                'Nginx',
                'REST',
            ]
        },
        {
            title: 'OS & OTHERS',
            skillList: [
                'Trello',
                'Agile',
                'Windows (all)',
                'Mac',
                'Word',
                'Excel',
                'PowerPoint',
                'Slack',
                'Zoom',
            ]
        }
    ]

    //- the presentation, the view
#what-can-i-do
.what-can-i-do
    .what-can-i-do__header=header
    each whatCanIDo in whatCanIDoList
        .what-can-i-do__title=whatCanIDo.title
        .what-can-i-do__list
            each skill in whatCanIDo.skillList
                .what-can-i-do__skill=skill