//- the model, the data
-
    var header= '#what I can do';
    var whatCanIDoList = [
        {
            title: 'something',
            skillList: [
                'Pc Trainer',
                'A Lover',
                'HTML5',
                'CSS3',
                'JavaScript'
            ]
        },
        {
            title: 'Back',
            skillList: [
                'Git',
                'Awesome',
                'Dreamer',
                'Hihi',
                'HEHE'
            ]
        }
    ]

    //- the presentation, the view
#what-can-i-do
.what-can-i-do
    .what-can-i-do__header=header
    each whatCanIDo in whatCanIDoList
        .what-can-i-do__title=whatCanIDo.title
        .what-can-i-do__list
            each skill in whatCanIDo.skillList
                .what-can-i-do__skill=skill