.landing-page {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(#8a8fa2, #415a6f)
}

.landing-page__wrapper {
  text-align: center;
}

.landing-page__name {
  font-size: 5rem;
  text-transform: uppercase;
}

.landing-page__title {
  font-size: 3rem;
  text-transform: capitalize;
}

.landing-page__social {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.landing-page__label {
  color: white;
  padding: 0.1rem 0.3rem;
  font-size: 2rem;
  cursor: pointer;
}