extends _component/layout/page
block cool-config
  -
    var myTitleForGoogleSearch = 'My really ultra awesome CV'
    var myDescriptionForGoogleSearch = 'This is made using PURE HTML5 and CSS3 techniques'
block awesome-content
  include _component/landing-page/landing-page
  include _component/about-me/about-me