@import '_component/config/reset';
@import '_component/config/common';
@import '_component/config/colour';
@import '_component/layout/layout';
@import '_component/font/icon-font';
@import '_component/landing-page/landing-page';
@import '_component/about-me/about-me';
// @import '_component/award/award';
@import '_component/what-can-i-do/what-can-i-do';
@import '_component/experience/experience';
// @import '_component/client/client';
@import '_component/menu/menu';
@import '_component/landscape/landscape';