-
    var show = 'Show message';
    var hide = 'Hide message';
    var descriptionList = [
        'You screen is in landscape mode',
        'To view the website at its best you can:'
    ];
    var itemList = [
        'rotate your device in portrait',
        'resize your browser to portrait',
        'ignore all the above and hide this message',
    ]
input.landscape__input(type="checkbox", id="landscape")
.landscape
    label.landscape__button(for="landscape") 
        .landscape__message--show=show
        .landscape__message--hide=hide
    .landscape__body
        each description in descriptionList
            p.landscape__description=description
        ul.landscape__list
            each item in itemList
                li.landscape__item=item
