.landscape,
.landscape__input {
    display: none;
}

.landscape {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-manatee;
    transition: 0.25s;
}

.landscape__button {
    display: block;
    background-color: $color-fiord;
    color: $color-white;
    position: fixed;
    top: 1rem;
    left: 1.5rem;
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: 1rem;
    text-decoration: none;
    border: 0.1rem solid $color-white;
}

.landscape__description {
    padding: 2rem 0;
}

@media (orientation: landscape) {
    .landscape {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        font-size: 2rem;
    }

    .landscape__list {
        list-style-type: disc;
    }

    .landscape__message--show {
        display: none;
    }

    
    .landscape__message--hide {
        display: block;
    }
    
    #landscape:checked + .landscape {
        top: -100%;
    
        .landscape__message--show {
            display: block;
        }
        
        .landscape__message--hide {
            display: none;
        }
    }
}