.about-me {
    background-image: radial-gradient(
      ellipse,
      $color-cyan-aqua,
      $color-blue-ribbon
    );
}

.about-me__header {
    color: $color-white;
    @extend %header;
}

.about-me__avatar {
    border-radius: 50%;
    width: 100%;
    border: 0.5rem solid $color-blue-ribbon;
}

.about-me__avatar-wrapper {
    border-radius: 50%;
    width: 100%;
    border: 0.5rem solid $color-blue-ribbon
}

.about-me__avatar-wrapper {
    max-width: 50%;
    margin: 1rem auto;
    border: 0.5rem solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        border: 0.5rem solid rgba(255, 255, 255, 0.3);
        top: -1.5rem;
        bottom: -1.5rem;
        right: -1.5rem;
        left: -1.5rem;
        border-radius: 50%;

    }
}

.about-me__full-name {
    font-size: 2.5rem;
}

.about-me__title {
    font-size: 2rem;
}

.about-me__full-name,
.about-me__title {
    color: $color-white;
    padding: 0 1rem 2rem;
    text-align: center;
}

.about-me__slogan,
.about-me__content {
    font-size: 1.7rem;
    text-align: justify;
    padding: 1rem;
    text-indent: 3rem;
    color: rgb(3, 250, 3);
}

.about-me__link-list {
    text-align: center;
    padding-bottom: 1rem;
}

.about-me__link {
    display: inline-block;
    width: 80%;
    font-size: 3rem;
    text-decoration: none;
    border: 0.1rem solid $color-gumbo;
    border-radius: 1rem;
    background-color: $color-white;
    color: $color-gumbo;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.about-me__link-description {
  font-size: 1.5rem;
  line-height: 1.5;
}


